* {
    background-color: #2D2926FF;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: white;
    word-break: break-all;
    font-size: 16px;
}

nav {
    background-color: transparent;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}

nav h3 {
    display: block;
    text-align: center;
    font-size: 16px;

    width: fit-content;
    margin-top: auto;
    margin-bottom: 5px;
    text-decoration: none;
    padding: 6px 10px;
    border-style: solid;
    border-width: 2px;
    background-color: #E94B3CFF;
    border-color: #E94B3CFF;
    border-radius: 32px;
    color: black;
}
nav .button {
    float: left;
    display: block;
    margin-right: 5px;
}

.title_banner {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.title_banner img {
    width: 100%;
    height: 500px;
    opacity: 0.5;
}

.title_banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -80%);
    white-space: pre-line;
    color: #E94B3CFF;
    background-color: transparent;
}

.about_me {
    margin-top: 100px;
}

.about_me img {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 100%;
}

h2 {
    font-size: 30px;
    color: #E94B3CFF;
    text-align: center;
}

.about_me p {
    margin: auto;
    text-align: center;
    width: 750px;
    font-size: 16px;
    /*Get rid of below once happy with box size*/
    border-style: solid;
    border-width: 2px;
    border-color: #E94B3CFF;
}

.button {
    display: block;
    text-align: center;
    font-size: 16px;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    padding: 8px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #E94B3CFF;
    border-radius: 32px;
    color: white;
}

.button:hover {
    background-color: #E94B3CFF;
    color: black;
}

.social_bar {
    margin-top: 10px;
    text-align: center;
}

.fa, .fa-solid {
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #E94B3CFF;
    border-radius: 100%;
}

.projects {
    margin-bottom: 50px;
}

.project_display {
    position: relative;
    display: block;
    color: white;
    width: 1000px;
    margin: auto;
    margin-top: 20px; 
}
.project_display img {
    text-align: left;
    height: 200px;
    width: 200px;
    border-radius: 32px;
}
.project_content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 75%;
    max-height: 200px;
}

.project_content h3 {
    font-size: 25px;
    vertical-align: top;
    width: fit-content;
    margin-top: auto;
    text-decoration: underline;
}
.project_content p {
    vertical-align: top;
    padding-left: 20px;
    height: 100px;
    transform: translateY(-15px);
}

.content_links {
    position: absolute;
    bottom: 0;
    right: 0;
}