* {
    background-color: #2D2926FF;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    text-align: justify;
    text-justify: auto;
    color: white;
    word-break: keep-all;
    font-size: 18px;
}

nav {
    background-color: transparent;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}

nav h3 {
    display: block;
    text-align: center;
    font-size: 16px;

    width: fit-content;
    margin-top: auto;
    margin-bottom: 5px;
    text-decoration: none;
    padding: 6px 10px;
    border-style: solid;
    border-width: 2px;
    background-color: #E94B3CFF;
    border-color: #E94B3CFF;
    border-radius: 32px;
    color: black;
}
nav .button {
    float: left;
    display: block;
    margin-right: 5px;
}

.about_me {
    margin-top: 100px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 90%;
    height: 90%;
}

.about_me img {
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #E94B3CFF;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #E94B3CFF;
}

.about_me p {
    margin: auto;
    text-align: justify;
    text-align-last: center;
    width: 80%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    display: block;
    text-align: center;
    font-size: 16px;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    padding: 8px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #E94B3CFF;
    border-radius: 32px;
    color: white;
}

.button:hover {
    background-color: #E94B3CFF;
    color: black;
}

.social_bar {
    margin-top: 10px;
    text-align: center;
}

.fa, .fa-solid {
    padding: 10px;
    width: 30px;
    font-size: 30px;
    border-radius: 100%;
}

.project {
    margin-bottom: 25px;
}

.project_display {
    position: relative;
    display: block;
    color: white;
    width: 1250px;
    margin: auto;
    margin-top: 20px; 
}
.project_display img {
    text-align: left;
    height: 250px;
    width: 250px;
    border-radius: 32px;
}
.project_content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 250px;
    width: 75%;
    max-height: 250px;
}

.project_content h3 {
    font-size: 25px;
    padding-left: 20px;
    vertical-align: top;
    width: fit-content;
    margin-top: auto;
}
.project_content p {
    vertical-align: top;
    padding-left: 20px;
    height: 150px;
}

.content_links {
    position: absolute;
    bottom: 0;
    right: 0;
}

.project_catalog {
    margin-top: 125px;
}