* {
    background-color: #0B0C10;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: white;
}

nav {
    background-color: #0B0C10;
    /* undecied yet this is temp*/
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}

nav a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background: #1F2833;
    color: white;
    border-radius: 5px;
}

.title_banner {
    margin-top: 50px;
    text-align: center;
}

.title_banner h1 {
    font-size: 50px;
    height: 500px;
    width: 100%;
    line-height: 500px;
    color: #66FCF1;
    background-image: url(./images/test.jpg);
    /*need an appropriate picture maybe buy a stock image*/
    background-size: 100%;
    background-repeat: no-repeat;
}

.about_me img {
    display: block;
    margin: auto;
    width: 200px;
    height: 300px;
    text-align: center;
    border-radius: 16px;
}

.about_me h2 {
    color: #66FCF1;
    background-color: #0B0C10;
    text-align: center;
}

.about_me p {
    margin: auto;
    text-align: center;
    width: 750px;
    /*Get rid of below once happy with box size*/
    border-style: solid;
    border-width: 2px;
    border-color: #66FCF1;
}

.button {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    padding: 8px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #66FCF1;
    border-radius: 32px;
    color: white;
}

.button:hover {
    background-color: #66FCF1;
    color: black;
}

.social_bar {
    text-align: center;
    font-size: 30px;
}

.fa {
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #66FCF1;
    border-radius: 50%;
}

.fa:hover {
    color: black;
    background-color: #66FCF1;
}